<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Home Page</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Action
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a href="/addproject/" class="dropdown-item">Adding Project</a>
          <a href="/userdisplay" class="dropdown-item">Edit User</a>
          <div class="dropdown-divider"></div>
          <a href="/users/logout" class="dropdown-item">Logout</a>

        </div>
      </li>
      
    </ul>
    <form action="search/keyword" method="GET"class="form-inline my-2 my-lg-0">
      <label for="keyword"></label>
      <input name="keyword" class="form-control mr-sm-2" id="keyword" type="text" placeholder="Search" aria-label="Search">
      <input  class="btn btn-outline-success my-2 my-sm-0" type="submit"> </input>
    </form>
  </div>
</nav>

<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h1 class="text-center mb-3">
          <i class="fas fa-user-plus"></i> Add Project
        </h1>
        <% include ./partials/messages %>
        <form action="/addproject/<%= user.id %>" method="POST">
          <div class="form-group">
            <label for="course">Course</label>
            <input
              type="course"
              id="course"
              name="course"
              class="form-control"
              placeholder="Enter your Course"
              value="<%= typeof course != 'undefined' ? course : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="classtime">Class time</label>
            <input
              type="text"
              id="classtime"
              name="classtime"
              class="form-control"
              onfocus="onFocus()"
              onblur="onBlur()"
              placeholder="Enter your class time"
              value="<%= typeof classtime != 'undefined' ? classtime : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="GPA">GPA</label>
            <input
              type="GPA"
              id="GPA"
              name="GPA"
              class="form-control"
              placeholder="Enter your GPA"
              value="<%= typeof GPA != 'undefined' ? GPA : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="creator">Creator</label>
            <input
              type="creator"
              id="creator"
              name="creator"
              class="form-control"
              placeholder="Enter your name"
              value="<%= typeof creator != 'undefined' ? creator : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="requirement">Requirement</label>
            <input
              type="requirement"
              id="requirement"
              name="requirement"
              class="form-control"
              placeholder="Your Requirement for a teammate"
              value="<%= typeof requirement != 'undefined' ? requirement: '' %>"
            />
          </div>
          <div class="form-group">
            <label for="photo">Photo</label>
            <input
              type="photo"
              id="photo"
              name="photo"
              class="form-control"
              placeholder="Leave Assignment's Photo here"
              value="<%= typeof photo != 'undefined' ? photo : '' %>"
            />
          </div>
          <button type="submit" class="btn btn-primary btn-block">
            Submit Project
          </button>
        </form>
      </div>
    </div>
  </div>
<script>
  //Change to date time picker when clicked
  function onFocus() {
    var x = document.getElementById("classtime")
    x.type = "datetime-local"
  }

  //Change to normal text field when unclicked
  function onBlur() {
    var x = document.getElementById("classtime")
    x.type = "text"
  }
</script>
  