<link rel="stylesheet" href="/css/app.css">
<link rel="stylesheet" href="/css/dashboard.css">
<% include ./header %>

<div class="main">
    <div class="navbar" style="background-color: white; border-bottom: 5px outset;">
        <h1 class="title">
            List Of Favorite Projects
        </h1>
        <form action="search/keyword" method="GET" class="form-inline my-2 my-lg-0">
            <label for="keyword"></label>
            <input name="keyword" class="form-control mr-sm-2" id="keyword" type="text" placeholder="Search User name"
              aria-label="Search">
            <input class="btn btn-success" type="submit"></input>
          </form>
        <div class="dropdown" style="z-index: 1; margin-right: 10px;">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Adjust view
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">Card view</a></li>
                <li><a href="#">List view</a></li>
                <li><a href="#">Recent activity</a></li>
            </ul>
        </div>
    </div>

    <div class="container">
        
        <!-- <% favlists.forEach(function (favlist) {%>
        <div class="col-md-3" style="padding-bottom: 40px;">
            <div class="card overlay" style="width: 18rem; border-radius: 1rem; border-color:#da3838;">
                <div class="card-body" style="width: 18rem; border-radius: 1rem; border-color: #da3838;">
                    <h5 class="card-title"><%= favlist.name%></h5>
                    <p class="card-text"><%=favlist. course%></p>
                    <p class="card-text"><%=favlist.date%></p>
                    <a href="/ " class="btn btn-danger"
                        style="width: 75%; margin-bottom: 10px;">Detail</a>
                    <a href="/" class="btn btn-secondary" style="width: 75%;">Remove from list</a>
                </div>
            </div>
        </div>
        <%}) %> -->

        <% favlists.forEach(function (favlist) {%>
            <figure class="snip0056">
                <figcaption>
                    <h2>Sample Student Name</h2>
                    <p class="card-text"><%= favlist.name%></p> 
                    <p class="card-text"><%= favlist.date  %></p>
                    <div class="icons">
                        <a href="/detail/<%= post.id%> " class="btn btn-danger"
                            style="width: 75%; margin-bottom: 10px;">Detail</a>
                        <a href="/addfavlist/<%= user.id%>/<%= post.id%>" class="btn btn-secondary" style="width: 75%;">Remove
                            from
                            list</a>
                    </div>
                </figcaption><img src="https://www.shareicon.net/data/512x512/2016/05/24/770117_people_512x512.png"
                    alt="Profile picture" />
                <div class="position"><%= favlist.course %></div>
            </figure>
        <%}) %>
    </div>
</div>