<link rel="stylesheet" href="/css/app.css">
<link rel="stylesheet" href="/css/userprofile.css">
<% include ./header %>

<div class="main">
    <% users.forEach(function (user) {%>

    <div class="wrapper">
        <div class="left">
            <img src="<%= user.avata%>"
                alt="user">
            <div class="social_media">
                <ul>
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
            <div class="main_info">
                <h3>Bachelor of <%=user.field%></h3>
                <br><br></br></p>
                <h3>Major: <%=user.major%></h3>
                <br><br></br></p>
                <h3>Minor: <%=user.minor%></h3>
            </div>
        </div>
        <div class="right">
            <div class="info">
                <h3>Information</h3>
                <div class="info_data">
                    <div class="data">
                        <h4>User's Name</h4>
                        <p><%=user.name%></p>
                    </div>
                    <div class="data">
                        <h4>Email</h4>
                        <p><%=user.email%></p>
                    </div>
                    
                </div>
            </div>

            <div class="projects">
                <h3>Projects</h3>
                <div class="projects_data">
                    <div class="data">
                        <h4>Recent</h4>
                        <p>(Recent activities here)</p>
                        <% posts.forEach(function (post) {%>
                            <p><%=post.course%> at <%=post.classtime%></p>
                            <%}) %>

                        <br><br></br></p>
                        <h4>Courses taken</h4>
                        <p>Intro to IT, Intro to Computer System</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%}) %>

</div>