<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="/css/projectdetail.css">
<link rel="stylesheet" href="/css/navbar.css">
<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Home Page</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Action
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a href="/addproject" class="dropdown-item">Adding Project</a>
          <div class="dropdown-divider"></div>
          <a href="/users/logout" class="dropdown-item">Logout</a>

        </div>
      </li>

    </ul>
    <form action="search/keyword" method="GET" class="form-inline my-2 my-lg-0">
      <label for="keyword"></label>
      <input name="keyword" class="form-control mr-sm-2" id="keyword" type="text" placeholder="Search User name"
        aria-label="Search">
      <input class="btn btn-outline-success my-2 my-sm-0" type="submit"></input>
    </form>
  </div>
</nav> -->

<% include ./header %>

<div class="main">
  <!-- <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Course</th>
        <th scope="col">Class</th>
        <th scope="col">GPA</th>
        <th scope="col">Creator</th>
        <th scope="col">Requirement</th>
      </tr>
    </thead>
    <tbody>

      <tr>
        <td><%= post.course %></td>
        <td><%= post.classtime %></td>
        <td><%= post.GPA %></td>
        <td><%= post.creator %></td>
        <td><%= post.requirment %></td>
      </tr>
    </tbody>
  </table>
  <a href="/edits/<%= post.id%> " class="btn btn-primary">Edit</a>
  <a href="/deletepost/<%= post.id%> " class="btn btn-primary">Delete</a>
  <h3>The Project Images</h3>
  <img src="<%= post.photo %>" /> -->
  <div id="wrapper" style="border: 2px solid red; width: 80%; border-radius: 25px;">

    <header class="cf">
      <!-- <img src="http://2016.igem.org/wiki/images/e/e0/Uclascrolldown.png" class="arrow" /> -->
      <h1>Project Details:
      </h1>
    </header>
    <table class="table">
      <thead class="thead">
        <tr>
          <th scope="col">Course</th>
          <th scope="col">Class</th>
          <th scope="col">GPA</th>
          <th scope="col">Creator</th>
          <th scope="col">Requirement</th>
          <!-- <th scope="col">Actions</th> -->
        </tr>
      </thead>
      <tbody>

        <tr>
          <td><%= post.course %></td>
          <td><%= post.classtime %></td>
          <td><%= post.GPA %></td>
          <td><%= post.creator %></td>
          <td><%= post.requirment %></td>
          <!-- <td>
            <a href="/edits/<%= post.id%> " class="btn btn-danger">Edit</a>
            <a href="/deletepost/<%= post.id%> " class="btn btn-danger">Delete</a>
          </td> -->
        </tr>
      </tbody>
    </table>
    <img class="img-content" src="<%= post.photo %>" />

    <!-- <div class="action">
      <div class="like">
        <a href="#">
          <img
            src="https://1.bp.blogspot.com/-qns_lZPjg0I/VWY2dO1HN-I/AAAAAAAACVA/akLTMY7RJSk/s1600/Thumbs-up-facebook-icon-small.png"
            alt="thumbs up" />
          <p>Like</p>
        </a>
      </div>

      <div class="comment">
        <a href="#">
          <img src="https://s0.wp.com/wp-content/themes/vip/facebook-groups/img/message_icon.png" />
          <p>Comment</p>
        </a>
      </div>

      <div class="share">
        <a href="#">
          <img src="http://download.seaicons.com/icons/icons8/windows-8/512/Arrows-Redo-icon.png" alt="" />
          <p>
            Share
          </p>
        </a>
      </div>

    </div> -->

    <h1>Discussion</h1>


    <form class="mt-3" action="/cmt/<%=user.id%>/<%= post.id %>" method="POST" <% include ./partials/messages %> <div
      class="row">
      <div class="col-lg-12">
        <div class="form-group">
          <input type="comment" id="comment" name="comment" class="form-control" placeholder="Comment" value=""
            style="margin-left: 35px; width: 90%;" />
        </div>
      </div>
      <div class="col-lg-12">
        <button type="submit" class="btn btn-md btn-block btn-secondary"
          style="margin: auto; width: 15%; border-radius: 20%; height: 50px;"><span style="color: black;">
          Add comment</span></button>
      </div>
  </div>
  </form>

  <div style="border-top: 3px solid black; margin-top: 10px;">
    <% comlists.forEach(function (comlist) {%>
    <div class="comment">
      <div class="row">
        <img src="<%=comlist.avata%>" alt="Profile">
        <h3>
          <%= comlist.studentname %>
        </h3>
      </div>
      <p id="para" style="color: black;">
        <%= comlist.comment %>
      </p>
    </div>
    <%}) %>


  </div>
</div>
</div>