<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Home Page</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Action
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a href="/addproject" class="dropdown-item">Adding Project</a>
          <div class="dropdown-divider"></div>
          <a href="/users/logout" class="dropdown-item">Logout</a>

        </div>
      </li>

    </ul>
    <form action="search/keyword" method="GET" class="form-inline my-2 my-lg-0">
      <label for="keyword"></label>
      <input name="keyword" class="form-control mr-sm-2" id="keyword" type="text" placeholder="Search User name"
        aria-label="Search">
      <input class="btn btn-outline-success my-2 my-sm-0" type="submit"></input>
    </form>
  </div>
</nav>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Course</th>
      <th scope="col">Class</th>
      <th scope="col">GPA</th>
      <th scope="col">Creator</th>
      <th scope="col">Requirement</th>
    </tr>
  </thead>
  <tbody>

    <tr>
      <td><%= post.course %></td>
      <td><%= post.classtime %></td>
      <td><%= post.GPA %></td>
      <td><%= post.creator %></td>
      <td><%= post.requirment %></td>
    </tr>
  </tbody>
</table>
<a href="/edits/<%= post.id%> " class="btn btn-primary">Edit</a>
<a href="/deletepost/<%= post.id%> " class="btn btn-primary">Delete</a>
<h3>The Project Images</h3>
<img src="<%= post.photo %>" />
<% include ./footer %>