<!-- <style>
  tr:hover{background-color: black;}
</style> -->

<% include ./header %>
<div style="overflow-x: auto;">
  <table class="table">
    <thead class="thead-dark">
      <a href="/users/demoregister" class="btn btn-primary">Add User</a>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <% users.forEach(function (user) {%>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td>
          <a href="/edituser/<%= user.id%> " class="btn btn-primary" style="margin: 5px;">Edit</a>
          <a href="/delete/<%= user.id%> " class="btn btn-primary" style="margin: 5px;">Delete</a>
          <a  href="/banuser/<%= user.id%>"  class="btn btn-primary" style="margin: 5px" method="POST">Ban user</a>
        </td>
      </tr>
      <%}) %>
    </tbody>
  </table>
</div>
<% include ./footer %>