<% include ./header %>

<link rel="stylesheet" href="/css/userdisplay.css">

<div class="main">
  <div style="overflow-x: auto;">
    <table class="container">
      <thead class="thead-dark">
        <a href="/users/demoregister" class="btn btn-danger">Add User</a>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">ID</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <% users.forEach(function (user) {%>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= user.id %></td>
          <td>
            <a href="/edituser/<%= user.id%> " class="btn btn-danger" style="margin: 5px;">Edit</a>
            <a class="btn btn-danger" id="<%= user.id %>" onclick="onClick(this)">Delete</a>
            <a href="/adminpermission/<%= user.id%>" class="btn btn-danger" style="margin: 5px" method="POST">Upgrade
              to
              Admin</a>
          </td>
        </tr>
        <%}) %>
      </tbody>
    </table>

    <div id="id01" class="modal">
      <span onclick="document.getElementById('id01').style.display='none'" class="close"
        title="Close Modal">&times;</span>
      <form class="modal-content" action="/action_page.php">
        <div class="container">
          <h1>Ban user's account</h1>
          <p>Are you sure you want to ban this user?</p>

          <div class="clearfix">
            <a href="/banuser/<%= user.id%>" method="POST" id="ban">
              <button type="button" class="cancelbtn">Yes</button>
            </a>
            <a href="" id="delete">
              <button type="button" class="deletebtn">No, just delete it</button>
            </a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


<script>
  // Get the modal
  var modal = document.getElementById('id01');

  // Close the modal by clicking anywhere outside of it
  window.onclick = function (event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }

  // function onClick() {
  //   var x = document.getElementById("user_id")
  //   console.log(x.value)
  // }
  function onClick(a) {
    document.getElementById('id01').style.display = 'block'

    var dlt = "/delete/"
    dlt = dlt + a.getAttribute("id")
    console.log(dlt)

    var dlt_url = document.getElementById('delete')
    dlt_url.setAttribute('href', dlt)

    var ban = "/banuser/"
    ban = ban + a.getAttribute("id")
    console.log(ban)

    var ban_url = document.getElementById('ban')
    ban_url.setAttribute('href', ban)
  } 
</script>